<a href="https://colab.research.google.com/github/chryssleirodriguez/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

##Variable and Data Types
Variables, according to the Beginners Book, are used to store data and take up memory space depending on the sort of value we assign to them. A data type is a term that describes the type of the data. For example, 123 is an integer data type, but "hello" is a String dat tye. Int, str, and float are examples of variable and data types.

In [2]:
x = 1
a,b = 0, -1
x

1

In [3]:
type(x)

int

In [4]:
y = 1.0
type(y)

float

In [8]:
x = float(x)
type(x)

float

In [9]:
s,t,u = "0",'1','one'
type(s)

str

In [10]:
s_int = int(s)
s_int
type(s)

str

##Operations
In Python, operators are special that perform arithmetic or logical computations. The operand is the value on which the operator operate.

###Arithmetic
Addition, subtraction, multiplication, and other mathematical operations are performed using arithmetic operators.

In [11]:
a,b,c,d = 2.0, -0.5, 0, -32

In [12]:
### Addition 
S = a+b
S

1.5

In [13]:
### Subtraction
D = b-d
D

31.5

In [14]:
### Multiplication
M = a*d
M

-64.0

In [15]:
### Division
Q = d/a
Q

-16.0

In [16]:
### Floor Division
Fq = a//b
Fq

-4.0

In [17]:
### Exponentiation
E = a**b
E

0.7071067811865476

In [18]:
### Modulo
mod = d%a
mod

0.0

###Assignment Operations
To assign values to variables in Python, assignment operators are employed.

In [27]:
G, H, J, K = 0, 100, 2, 2

In [28]:
G += a
G

2.0

In [29]:
H -= d
H

132

In [30]:
J *= 2
J

4

In [32]:
K **= 3
K

512

### Comparators
In this part, values are compared using comparison operators. Depending on the criteria, it returns true or false.

In [33]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [34]:
## Equality
res_1 == true_val

True

In [35]:
##Non-equality
res_2 != true_val

True

In [36]:
## Innequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

### Logical
This type of operation is the same comparators, but And, or, and not are examples of logical operators.

In [37]:
res_1 == true_val

True

In [38]:
res_1 is true_val

False

In [40]:
res_1 is not true_val

True

In [41]:
p, q = True, False
conj = p and q
conj

False

In [42]:
p, q = True, False
disj = p or q
disj

True

In [43]:
p, q = True, False
nand = not (p and q)
nand

True

In [44]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

### I/O
Input refers to  any information or data sent to the computer by the user via the keyboard. The information that the computer provides to the user is referred to as output. This will help us to enter some program making it interactive to the user.

In [45]:
print("Hello Klasmeyt")

Hello Klasmeyt

In [46]:
cnt = 1

In [47]:
string = "Hello Klasmeyt"
print(string, ", Current count is:", cnt)
cnt += 1

Hello Klasmeyt , Current count is: 1

In [49]:
print(f"{string}, Current count is: {cnt}")

Hello Klasmeyt, Current count is: 2

In [51]:
sem_grade = 97
name = "lei"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello lei, your semestral grade is: 97

In [52]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grade are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [53]:
x = input("enter a number: ")
x

enter a number: 97

'97'

In [54]:
name = input("Kmi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kmi no nawa: Lei
Enter prelim grade: 97
Enter midterm grade: 95
Enter finals grade: 98
Hello Lei, your semestral grade is: None

#Looping Statements
A loop statement, according to Tutorials Point, lets us to execute a statement or a series of statement many times. To meet looping requirements, the Python programming language supports the following types of loops.

##While

In [55]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

##For

In [56]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [57]:
playlist = ["Enchanted", "Happier", "Crazier"]
print('Now Playing:\n')
for song in playlist:
    print(song)

Now Playing:

Enchanted
Happier
Crazier

#Flow Control
The control flow of a program is the sequence in which its code is executed. Conditional statements and function cells determine the control flow of a Python program.

##Condition Statements

In [58]:
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
    print("Yeyeye")
elif(numeral1>numeral2):
    print("haha")
else:
    print("wowo")

Yeyeye

##Functions

In [59]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}". format (userid))

def delete_all_users ():
    print("Successfully deleted all users")

In [60]:
userid = 201911746
delete_user(201911746)
delete_all_users()

Successfully deleted user: 201911746
Successfully deleted all users

In [62]:
def add(addend1, addend2):
    print("keri ko beks mag adla ng addend1 and addend2")
    return addend1 + addend2


def power_of_base2(exponent):
    return 2**exponent

addend1 = 7
addend2 = 12

exponent = 19

#add(addend1, addend2)
power_of_base2(exponent)

524288

In [63]:
add(addend1, addend2)

keri ko beks mag adla ng addend1 and addend2

19

##References

#### Singh, C. (n.d.). Python Variables with Examples. Retrieved February 21, 2022, from https://beginnersbook.com/2019/03/python-variables/

#### Programiz. (n.d.). Python Operators. Retrieved February 21, 2022, from https://www.programiz.com/python-programming/operators#:~:text=Operators%20are%20special%20symbols%20in,the%20output%20of%20the%20operation.

#### Tutorials Point. (n.d.). Python - Loops. Retrieved February 21, 2022 from https://www.tutorialspoint.com/python/python_loops.htm

#### Koushik, B. (n.d.). What are Control Flow Statements in Python?. Retrieved February 21, 2022 from https://www.educative.io/edpresso/what-are-control-flow-statements-in-python

#### Chercher Tech. (n.d.). Python Input and Output Statements. Retrieved February 21, 2022 fromhttps://chercher.tech/python-programming/python-inputs-and-outputs